.profile {
    margin: auto;
    padding: 74px 70px 70px 70px;
    box-sizing: border-box;
    max-width: 550px;
    width: 100%;
    height: 100vh;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #202020;
}

.profile__title {
    margin: 0;
    padding: 0;
    align-self: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.profile__link {
    margin: 16px 0 40px 0;
    padding: 0;
    align-self: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ee3465;
    text-decoration: none;
}

.profile__link_disabled {
    display: none;
}

.profile-form {
    margin: 120px 0 0 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile-form__container {
    border-bottom: 1px solid #424242;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.profile-form__container:last-of-type {
    margin-bottom: auto;
}

.profile-form__input {
    margin: 0;
    padding: 16px 0 16px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    background-color: #202020;
    border: none;
    outline: none;
    flex-grow: 1;
}

.profile-form__input_inactive {
    pointer-events: none;
}

.profile-form__input::-webkit-input-placeholder {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
}
.profile-form__input::-moz-placeholder          {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
}
.profile-form__input::-ms-input-placeholder     {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
}

.profile-form__input::placeholder {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
}

.profile-form__current-value {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    align-self: center;
    width: 150px;
    text-align: end;
    word-wrap: break-word;
}

.profile-form__input_state_error {
    color: #ee3465;
}

.profile-form__text-result {
    margin: 20px 0 0 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #3ddc84;
    align-self: center;
    display: none;
}

.profile-form__text-result_enabled {
    display: inline-flex;
}

.profile-form__text-result_type_error {
    color: #ee3465;
}

.profile-form__button {
    margin: 20px 0 0 0;
    padding: 0;
    align-self: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    background-color: #202020;
    border: none;
    outline: none;
}

.profile-form__button_theme_blue {
    margin-bottom: 40px;
    min-height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: #4285f4;
    border-radius: 3px;
    align-self: stretch;
}

.profile-form__button_inactive {
    color: rgba(255, 255, 255, .2);
    background-color: rgba(255, 255, 255, .2);
    pointer-events: none;
}

@media screen and (max-width: 1023px) {
    .profile-form {
        margin-top: 96px;
    }
}