.form {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.form__title-input {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
}

.form__input {
    margin: 10px 0 5px 0;
    padding: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    background-color: #2f2f2f;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: transform 0.2s linear;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover, 
.form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}

.form__error-input {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
}

.form__input:focus {
    transform: scale(1.02);
    border: 1px solid #4169e1;
}

.form__input_state_error {
    color: #ee3465;
}

.form__text-error-api {
    margin: auto 0 20px 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    align-self: center;
}

.form__text-error-api_invisible {
    visibility: hidden;
}

.form__button {
    margin: 0 0 16px 0;
    padding: 0;
    min-height: 45px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background-color: rgba(66, 133, 244, 1);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s linear;
}

.form__button:hover {
    background-color: rgba(66, 133, 244, .8);
}

.form__button_disabled {
    pointer-events: none;
    background-color: rgba(248, 248, 248, .4);
    color: #c2c2c2;
}

@media screen and (max-width: 767px) {
    .form {
        margin-top: 80px;
    }

    .form__button {
        line-height: 17px;
        margin-bottom: 14px;
    }
}