.portfolio {
    margin: 0;
    padding: 0 70px 125px 70px;
    background-color: #202020;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.portfolio-title {
    font-size: 18px;
    line-height: 20px;
    color: #8b8b8b;
    border: none;
    letter-spacing: 0;
}

.portfolio__list {
    margin: 50 0 0 0;
    padding: 0;
    list-style: none;
}

.portfolio__item {
    margin: 0;
    padding: 20px 0 19px 0;
    border-bottom: 1px solid #424242;
    box-sizing: border-box;
}

.portfolio__item:first-child {
    padding-top: 0;
}

.portfolio__item:last-child {
    padding-bottom: 0;
    border: none;
}

.portfolio__link {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.04em;
    transition: opacity .2s linear;
    cursor: pointer;
}

.portfolio__link:hover {
    opacity: .7;
}

.portfolio__icon-link {
    margin: 0;
    padding: 0;
    background-image: url(../../images/icon-link.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1023px) {
    .portfolio {
        padding-right: 50px;
        padding-bottom: 90px;
        padding-left: 50px;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio {
        padding-right: 14px;
        padding-bottom: 70px;
        padding-left: 14px;
    }

    .portfolio-title {
        font-size: 14px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__icon-link {
        width: 15px;
        height: 15px;
    }
}