.promo {
    margin: 0;
    padding: 75px 70px 75px 70px;
    width: 100%;
    box-sizing: border-box;
    background-color: #073042;
    display: flex;
    justify-content: space-between;
}

.promo__container {
    margin: 0;
    padding: 0;
    max-width: 640px;
    display: flex;
    flex-direction: column;
}

.promo__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    color: #fff;
}

.promo__subtitle {
    margin: 0;
    margin-top: 35px;
    padding: 0;
    max-width: 310px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    opacity: .5;
}

.promo__link {
    margin: 0;
    margin-top: 145px;
    padding: 10px 20px;
    width: 130px;
    height: 35px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    opacity: .6;
    border: 1px solid #fff;
    border-radius: 3px;
    box-sizing: border-box;
}

.promo__image {
    margin-top: 75px;
    flex-shrink: 0;
    background-image: url(../../images/promo-image.svg);
    background-repeat: no-repeat;
    width: 310px;
    height: 305px;
}
