.header {
    margin: 0;
    padding: 18px 70px 18px 70px;
    box-sizing: border-box; 
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
}

.header_theme_blue {
    background-color: #073042;
}

.header__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
}

.header__link {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
}

.header__link_type_green-button {
    color: #000;
    background-color: #3ddc84;
    border-radius: 3px;
    padding: 8px 20px;
}

@media screen and (max-width: 1023px) {
    .header {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-right: 14px;
        padding-left: 14px;
    }
}