.logo {
    background-image: url(../images/header-logo.svg);
    flex-shrink: 0;
    background-repeat: no-repeat;
    margin-right: 44px;
    width: 38px;
    height: 38px;
}

.section-title {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    width: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    border-bottom: 1px solid #dadada;
}

.section-title_size_small {
    font-size: 18px;
    line-height: 20px;
    color: #8b8b8b;
    border: none;
}

.section-paragraph {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

.title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.form {
    margin: 125px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.form__input {

}

.form__button {

}

.button {
    
}
