.footer {
    margin: 0;
    padding: 0;
    background-color: #202020;
    min-height: 172px;
    width: calc(100vw - 140px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.header__title {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #424242;
    text-align: center;
    color: #8b8b8b;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.header__copyright {
    flex-grow: 2;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
}
