.auth-page {
    margin: 0;
    padding: 70px 70px 70px 70px;
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #202020;
}

.auth-page__title {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.auth-page__container {
    margin: 0;
    padding: 0;
    align-self: center;
}

.auth-page__question {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8b8b8b;
}

.auth-page__link {
    margin: 0;
    margin-left: 6px;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4285f4;
    text-decoration: none;
}

.form {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    flex-grow: 1;
    display: flex;
}

.form__title-input {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
}

.form__input {
    margin: 10px 0 20px 0;
    padding: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    background-color: #2f2f2f;
    border: none;
    outline: none;
    border-radius: 8px;
}

.form__input_state_error {
    color: #ee3465;
}

.form__input:last-of-type {
    margin-bottom: 10px;
}

.form__text-error {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
}

.form__button {
    margin: auto 0 16px 0;
    padding: 0;
    min-height: 45px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background-color: #4285f4;
    border: none;
    outline: none;
    border-radius: 3px;
}

